{% extends 'front/base.html.twig' %}

{% block title %}Inactivité détectée{% endblock %}

{% block body %}

    <h2>Inactivité détectée</h2>

    <a class="btn btn-info" href="{{ path('dashboard_watch_watch') }}">Surveiller</a>

{% endblock %}
