{% extends 'front/base.html.twig' %}

{% block title %}Surveillance impossible{% endblock %}

{% block body %}
    <h2>Surveillance impossible</h2>

    <p>
        Votre période d'essai est terminée et vous n'êtes pas abonné.
    </p>


{% endblock %}
