{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Fonctionnement des alarmes{% endblock %}

{% block body %}

    <h2>Fonctionnement des alarmes</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        Dilcam analyse en continu ce que filme votre webcam, de façon à détecter tout mouvement éventuel.
        Chaque fois qu'un mouvement semble détecté, la photo est marquée comme suspecte et conservée dans
        l'historique. La page "Photos" du tableau de bord vous permet de les visualiser pendant 7 jours.
    </p>

    <p>
        L'analyse de mouvement détermine la certitude avec laquelle le mouvement est détecté.
        Le pourcentage de certitude apparaît en rouge à côté de chaque prise de vue dans la page
        <a href="{{ path('dashboard_browse') }}">Photos</a>.
        Quand la certitude est supérieure à 3 %, la photo est considérée comme suspecte, et enregistrée
        dans l'historique. Et quand la certitude est supérieure à
        {{ (constant('App\\Manager\\PhotoManager::MIN_MISMATCH_FOR_ALARMING') / 100) | number_format(2, ',') }} %,
        une alarme vous est envoyée par email.
    </p>

    <p>
        Vous pouvez désactiver l'alarme dans votre tableau de bord. Par ailleurs,
        Dilcam n'envoie jamais plus d'une alarme par tranche de
        {{ constant('App\\Manager\\PhotoManager::MIN_ALARM_INTERVAL') / 60 }} minutes.
    </p>



    <p>
        Malgré tout l'effort apporté à l'algorithme de détection de mouvement, il peut arriver
        qu'un mouvement soit détecté par erreur, notamment en cas de changement brusque de luminosité,
        ou inversement, qu'un mouvement trop faible ou trop éloigné de la caméra ne soit pas détecté.
    </p>


{% endblock %}