{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}

    <h2>Politique de confidentialité</h2>

    <h3>Données récoltées</h3>

    <p>
        Lors de votre inscription, la seule donnée qui vous est demandée est votre adresse email.
        Aucune autre donnée ne vous est demandée pour utiliser la période d'essai gratuite.
        Si vous décidez de souscrire au service, le formulaire de paiement vous demandera votre nom
        et le numéro de votre carte bancaire. Dilcam conservera votre adresse email et votre nom,
        mais ne conserve pas votre numéro de carte bancaire.
    </p>

    <h3>Votre carte bancaire</h3>

    <p>
        Dilcam utilise le service de la société <a href="https://stripe.com/fr" target="_blank">Stripe</a>
        pour le paiement par carte bancaire. Stripe est une
        société internationale dont le service est certifié conforme au Standard PCI/DSS par Visa et Mastercard.
        Cette certification garantit les règles les plus strictes en matière de transmission
        et de protection des données de carte bancaire.
    </p>

    <p>
        Dilcam n'enregistre pas vos coordonnées de carte bancaire.
    </p>

    <h3>Photos et vidéo</h3>

    <p>
        Dilcam est un service de vidé surveillance par webcam. Dilcam ne conserve aucun film enregistré par
        votre webcam. En revanche, Dilcam conserve les photographies prises par votre webcam afin que vous puissiez
        les consulter depuis un autre appareil et/ou ultérieurement au moment ou elles ont été prises. Ces photos
        sont automatiquement supprimées après 7 jours.
    </p>

    <p>
        Toutes les photos conservées par Dilcam sont visionnables dans votre tableau de bord à la page
        "Visionner les photos". Vous pouvez télécharger et/ou supprimer chacune de ces photos à tout moment,
        directement dans votre tableau de bord.
    </p>

    <h3>Modifier / Supprimer vos données ou votre compte</h3>

    <p>
        Vous pouvez supprimer vos photos directement dans votre tableau de bord, à la page "Visionner les photos".
    </p>

    <p>
        Si vous souhaitez changer d'adresse email pour vous connecter à votre compte, merci de nous en faire
        la demande avec le <a href="{{ path('pages_contact') }}">formulaire de contact</a>.
    </p>

    <p>
        Vous pouvez également supprimer totalement votre compte en vous rendant sur la page "Mon compte" dans votre
        tableau de bord et en cliquant sur "Supprimer mon compte".
    </p>

    <h3>Protection de vos données</h3>

    <p>
        Dilcam s'engage à ne jamais communiquer vos données à une tierce partie, et à ne jamais utiliser vos
        données pour toute utilisation étrangère au service proposé et vendu.
    </p>

    <h3>Cookies</h3>

    <p>
        Dilcam utilise des cookies pour :
    </p>

    <ul>
        <li>
            Vous connecter automatiquement lors de vos prochaines visites si vous avez coché
            la case "Se souvenir de moi".
        </li>
        <li>
            Établir des statistiques de consultation du site web.
        </li>
    </ul>

{% endblock %}
