{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Cookies{% endblock %}

{% block body %}

    <h2>Cookies</h2>

    <p>
        Dilcam utilise des cookies pour :
    </p>

    <ul>
        <li>
            Vous connecter automatiquement lors de vos prochaines visites si vous avez coché
            la case "Se souvenir de moi".
        </li>
        <li>
            Établir des statistiques de consultation du site web. Ces statitistiques sont
            exclusivement utilisées par Dilcam pour améliorer son service.
        </li>
    </ul>

{% endblock %}