{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Matériel et configuration logicielle{% endblock %}

{% block body %}

    <h2>Matériel et configuration logicielle</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        Le service Dilcam fait appel à des technologies récentes de transfert de vidéo. De fait, Dilcam ne garantit pas
        un fonctionnement complet sur tous les ordinateurs, en particulier sur les ordinateurs anciens.
        Dilcam garantit un fonctionnement normal du service si l'appareil qui filme tourne sur l'une des
        combinaisons suivantes de Système d'exploitation et de navigateurs, à la condition que ceux-ci
        soient à jour :
    </p>

    <ul>
        <li>
            Windows 10 - navigateurs Edge, Chrome ou Firefox.
        </li>
        <li>
            Mac OS 10.13 (High Sierra) ou supérieur / iOS 11 ou supérieur - navigateurs Safari ou Chrome.
        </li>
        <li>
            Ubuntu 17 ou supérieur - navigateurs Chrome ou Firefox.
        </li>
    </ul>

    <p>
        L'observation pourra être effectuée sur les mêmes systèmes que ceux
        cités ci-dessus, ainsi que sur :
    </p>

    <ul>
        <li>
            Androïd - navigateur Chrome, si l'appareil de surveillance utilise Chrome, Firefox ou Edge.
        </li>
        <li>
            iPhone - navigateur Safari, si l'appareil de surveillance utilise Safari.
        </li>
    </ul>

    <p>
        Dans tous les cas, l'utilisateur est fortement encouragé à essayer le service avec la
        période d'essai gratuite de 24 heures afin de s'assurer qu'elle fonctionne parfaitement sur ses
        appareils.
    </p>

{% endblock %}