{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

    <h2>Mentions légales</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <h3>Dilcam</h3>

    <p>
        Dilcam est une Entreprise individuelle gérée par Guillaume Pédelagrabe.
    </p>

    <p>
        N° SIREN : 814583886
        <br>
        N° SIRET : 81458388600019
        <br>
        Guillaume Pédelagrabe
        <br>
        6 impasse Mauriac
        <br>
        33000 Bordeaux
        <br>
        05 57 95 59 93
    </p>

    <h3>Hébergeur</h3>

    <p>
        Amazon Web Services
        <br>
        Tour Carpediem
        <br>
        31 place des Corolles
        <br>
        92098 PARIS – LA DEFENSE Cedex
    </p>

    <p>
        <a href="{{ path('pages_tos') }}">
            Conditions générales de vente
        </a>
    </p>

    <p>
        <a href="{{ path('pages_confidentiality') }}">
            Politique de confidentialité
        </a>
    </p>

    <p>
        <a href="{{ path('pages_contact') }}">
            Contactez-nous
        </a>
    </p>

{% endblock %}