{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}

    <h2>Conditions générales d'utilisation</h2>

    <h3>1 Identification</h3>

    <h4>1.1 Dilcam</h4>

    <p>
        Dilcam est une Entreprise individuelle dont le gérant est Guillaume Pédelagrabe.
    </p>

    <p>
        N° SIREN : 814583886
        <br>
        N° SIRET : 81458388600019
        <br>
        Guillaume Pédelagrabe
        <br>
        6 impasse Mauriac
        <br>
        33000 Bordeaux
        <br>
        05 57 95 59 93
    </p>

    <h4>1.2 Hébergeur</h4>

    <p>
        Amazon Web Services
        <br>
        Tour Carpediem
        <br>
        31 place des Corolles
        <br>
        92098 PARIS – LA DEFENSE Cedex
    </p>

    <h3>2 Description du service</h3>

    <h4>2.1 Définitions</h4>

    <p>
        Dilcam nécessite l'utilisation d'un ordinateur avec connexion internet et webcam. Cet appareil sera
        appelé "Appareil de surveillance" dans la suite de ce document. L'utilisateur peut alors regarder en direct
        ce qui filmé par le poste de surveillance, à partir d'un autre appareil qui sera appelé
        "Appareil d'observation" dans la suite de ce document.
    </p>

    <h4>2.2 Filmer, photographier, observer, visionner les photos</h4>

    <p>
        L'utilisateur enclenche la surveillance se rendant sur son tableau de bord, sur la page "Filmer". Cette
        page devra rester ouverte et active pendant toute la durée de la surveillance. Cette page est programmée pour :
    </p>

    <ul>
        <li>Filmer</li>
        <li>Enregistrer une photo par minute</li>
        <li>Enregistrer toute photo pour laquelle un mouvement semble détecté</li>
    </ul>

    <p>
        L'appareil de surveillance doit rester en permanence allumé et connecté à internet. L'utilisateur devra
        laisser ouverte la page "Filmer". Sur la plupart des ordinateurs, ceci est suffisant pour empêcher
        l'ordinateur de se mettre en veille. Sur d'autres ordinateurs, il est possible que l'utilisateur doive
        paramétrer lui-même son ordinateur pour l'empêcher de se mettre en veille automatiquement après
        un certain temps d'inactivité. Dilcam ne peut en aucun cas être tenu responsable d'un non fonctionnement
        du service si l'ordinateur de l'utilisateur se met en veille automatiquement.
    </p>

    <p>
        Une connexion internet opérationnelle est indispensable au fonctionnement de Dilcam. Si la connexion
        est interrompue, le service Dilcam cesse de fonctionner jusqu'à ce qu'elle soit rétablie.
    </p>

    <p>
        À partir de l'appareil d'observation, l'utilisateur peut :
    </p>

    <ul>
        <li>Regarder la vidéo en direct.</li>
        <li>Visionner les photos enregistrées.</li>
    </ul>

    <p>
        Les photos sont conservées pendant 7 jours. Passé ce délai, elles sont automatiquement supprimées.
    </p>

    <h4>2.3 Alarmes</h4>

    <p>
        En plus d'enregistrer une photographie par minute, Dilcam enregistre toute photo qui paraît "suspecte".
        Une photo dite "suspecte" est une photo pour laquel un mouvement semble avoir été détecté.
    </p>

    <p>
        La détermination de photos suspectes fonctionne de la façon suivante :
    </p>

    <ul>
        <li>Dilcam prend une photo toutes les 2 secondes.</li>
        <li>Chaque photo est comparée avec la précédente.</li>
        <li>
            Si la différence entre deux photos successives est supérieure à 3 %,
            la deuxième photo est enregistrée.
        </li>
        <li>
            Si la différencre entre deux photos successives est supérieure à 7,5 %,
            en plus d'être enregistrée, la deuxième photo générera une alarme.
        </li>
        <li>
            Une alarme est un email est envoyé à l'utilisateur, contenant la photo suspecte.
        </li>
    </ul>

    <p>
        L'utilisateur peut désactiver l'alarme dans son tableau de bord.
    </p>

    <h3>3 Limitations du service et restrictions de fonctionnement</h3>

    <h4>3.1 Limitations dues au matériel de l'utilisateur</h4>

    <p>
        Dilcam fait appel à des technologies récentes de transfert de vidéo. De fait, Dilcam ne garantit pas
        un fonctionnement complet sur tous les ordinateurs, en particulier sur les ordinateurs anciens.
        Dilcam vous offre une période d'essai de 24 heures cumulées, vous permettant de vous assurer que vous
        pouvez pleinement utiliser le services sur vos appareils. Si, après avoir essayé la version gratuite,
        vous souscrivez au service, vous le faites en pleine connaissance de cause et après vous être assuré
        qu'il correspondait bien à vos besoins et fonctionnait sur vos appareils. Dilcam n'offrira aucun
        remboursement pour défaut de fonctionnement sur un appareil non compatible ou non configuré correctement.
    </p>

    <h4>3.2 Non garantie des alarmes</h4>

    <p>
        Malgré tout l'effort apporté à l'algorithme de détection d'images suspectes telles que décrit
        dans le paragraphe 2.3 du présent document :
    </p>

    <ul>
        <li>
            Dilcam ne peut pas garantir que tout mouvement sera détecté, ni qu'une alarme sera générée
            de façon certaine en cas de mouvement devant la caméra.
        </li>
        <li>
            Inversement, il peut arriver que le service Dilcam détecte une image suspecte par erreur,
            et déclencher une alarme par email alors que rien d'anormal ne s'est produit devant la caméra.
        </li>
    </ul>

    <p>
        La période d'essai de 24 heures cumulées permettra à l'utilisateur de s'assurer que le fonctionnement
        de l'alarme correspond bien à ses attentes.
    </p>

    <h3>4 Essai gratuit, souscription, prix et durée</h3>

    <h4>4.1 Essai gratuit</h4>

    <p>
        Dilcam offre une période d'essai gratuite de 24 heures cumulées à tout nouvel utilisateur. Cette
        période d'essai offre toutes les fonctionnalités du service, afin de permettre à l'utilisateur de
        vérifier qu'il correspond bien à ses attentes et fonctionne parfaitement sur son matériel et sur
        sa configuration logicielle.
    </p>

    <p>
        Cette période d'essai est de 24 heures cumulées. L'appareil de surveillance peut donc être éteint
        puis rallumé à tout moment : seules les minutes pendant lesqueles l'appareil est allumé sont comptées.
        Ces 24 heures cumulées peuvent donc s'étaler sur plusieurs jours, semaines, mois ou années.
    </p>

    <h4>4.2 Souscription</h4>

    <p>
        À la souscription, l'utilisateur choisit la durée pour laquelle il souhaite utiliser le service.
        Il choisit cette durée en nombre de mois, pouvant aller de 1 mois minimum à 24 mois.
    </p>

    <p>
        La totalité des frais est donc payée à la souscription. Il n'y a pas d'abonnement ni de paiement
        récurrent. Le service est disponible dès que le paiement est effectué.
    </p>

    <h4>4.3 Prix</h4>

    <p>
        Le prix est de {{ constant('App\\Service\\SubscriptionService::MONTHLY_PRICE')|price }} TTC par mois d'utilisation.
    </p>




{% endblock %}