{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Formulaire de rétractation{% endblock %}

{% block body %}

    <h2>Formulaire de rétractation</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    {% if displayForm %}

        {{ form_start(form)}}

            {{ form_widget(form) }}

            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="g-recaptcha" data-sitekey="{{ reCaptchaApiKey }}"></div>
            {% endif %}

        <br>

            <button type="submit" class="btn btn-primary">
                Envoyer
            </button>

        {{ form_end(form) }}

        <br>
        <br>

        <p>
            Vous pouvez également imprimer ce formulaire et le retourner par voie postale à :
        </p>

        <p>
            Dilcam<br>
            Guillaume Pédelagrabe<br>
            6 impasse Mauriac<br>
            33000 Bordeaux
        </p>

    {% endif %}


{% endblock %}