{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Merci d'autoriser l'utilisation de la caméra{% endblock %}

{% block body %}

    <h2>Merci d'autoriser l'utilisation de la caméra</h2>

    <p>
        Votre n'avez pas autorisé votre navigateur à utiliser la caméra.
    </p>

    <p>
        Merci de modifier vos paramétrages afin d'autoriser Dilcam à utiliser votre caméra.
    </p>

    <p>
        Veuillez également vous assurer que la caméra n'est pas déjà utilisée par une autre application
        de votre ordinateur.
    </p>

{% endblock %}
