{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Filmer{% endblock %}

{% block body %}

    <h2>Filmer</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        La page suivante va s'ouvrir dans une nouvelle fenêtre.
    </p>

    <p>
        Votre navigateur vous demandera l'autorisation d'utiliser votre webcam.
        Veuillez répondre oui à la demande d'autorisation.
    </p>

    <p>
        <a href="{{ path('dashboard_shoot_shoot') }}"
           id="linkToShootPage"
           class="btn btn-info"
           target="_blank">
            Démarrer la webcam
        </a>
    </p>

    <script>
        jQuery('#linkToShootPage').click(function() {
            setTimeout(function() {
                document.location.href = '{{ path('dashboard') }}';
            }, 1000);
        });
    </script>

{% endblock %}
