{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Une caméra est déjà en train de filmer{% endblock %}

{% block body %}

    <h2>Une caméra est déjà en train de filmer</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        <strong>Attention !</strong>
        Une caméra est déjà en train de filmer à votre domicile. Vous ne pouvez pas filmer à deux
        endroits en même temps.
    </p>

    <p>
        Si vous cliquez sur le bouton "Oui, filmer" ci-dessous, ceci désactivera la première caméra !
        Êtes-vous certain de vouloir continuer ?
    </p>

    <p>
        <a class="btn btn-info" href="{{ path('dashboard_shoot_preparation') }}">Oui, filmer</a>
    </p>

{% endblock %}
