{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Une caméra est peut-être déjà en train de filmer{% endblock %}

{% block body %}
    <h2>Une caméra est peut-être déjà en train de filmer</h2>

    <p>
        Il semblerait qu'une canéra est déjà en train de filmer à votre domicile,
        mais que l'ordinateur auquel est reliée cette caméra a subi une déconnexion subite.
    </p>

    <p>
        Il est possible que ce soit dû à une déconnexion passagère d'internet à votre domicile,
        ou à une mise à jour de votre box. Nous vous conseillons de patienter quelques minutes et de réessayer.
    </p>

    <p>
        Vous ne pouvez pas filmer à deux endroits en même temps. Si vous cliquez sur le bouton "Oui, filmer"
        ci-dessous, ceci désactivera la caméra à votre domicile. Nous vous conseillons donc de patienter quelques minutes,
        sauf si vous êtes certain de vouloir désactiver la première caméra.
    </p>

    <p>
        <a class="btn btn-info" href="{{ path('dashboard_shoot_shoot') }}">Oui, filmer</a>
    </p>

{% endblock %}
