{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Une caméra est peut-être déjà en train de filmer{% endblock %}

{% block body %}
    <h2>Une caméra est peut-être déjà en train de filmer</h2>

    <p>
        Il semblerait qu'une canéra est déjà en train de filmer. Si vous poursuivez, la première caméra sera désactivée.
    </p>

    <p>
        Mais elle a peut-être été déconnectée.
    </p>

    <p>
        <a class="btn btn-info" href="{{ path('dashboard_shoot_shoot') }}">Oui, filmer</a>
    </p>

{% endblock %}
