{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Film impossible{% endblock %}

{% block body %}
    <h2>Film impossible</h2>

    <p>
        Votre période d'essai est terminée et vous n'êtes pas abonné.
    </p>

    <p>
        <a href="{{ path('dashboard_subscription_quantity') }}" class="btn btn-info">
            Vous abonner
        </a>
    </p>


{% endblock %}
