{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Film impossible{% endblock %}

{% block body %}

    <h2>Film impossible</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        Votre période d'essai est terminée et vous n'avez pas souscrit à un abonnement.
        Vous devez vous abonner pour pouvoir continuer à utiliser le service Dilcam.
    </p>

    <p>
        <a href="{{ path('dashboard_subscription_quantity') }}" class="btn btn-info">
            Vous abonner
        </a>
    </p>


{% endblock %}
