{% extends 'email/layout.html.twig' %}

{% block title %}Merci de confirmer votre email{% endblock %}

{% block body %}
    <p>
        Bonjour,
    </p>

    <p>
        Merci de vous être inscrit(e) sur le site Dilcam.
        Afin de finaliser votre inscription, veuillez cliquer sur le lien suivant :
        <br>
        <a href="https://{{ host }}{{ path('security_check_email', {emailCheckToken: user.emailCheckToken}) }}">
            Activation de votre inscription
        </a>
    </p>

    <p>
        Une fois votre inscription confirmée, vous pourrez bénéficier de la période d'essai de 24 heures cumulées.
    </p>

    <p>
        Cordialement,<br>
        L'équipe Dilcam
    </p>
{% endblock %}