{% extends 'front/base.html.twig' %}

{% block title %}Récupérer votre mot de passe{% endblock %}

{% block body %}

    <h2>Récupérer votre mot de passe</h2>

    {% if display %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            Envoyer
        </button>
        {{ form_end(form) }}
    {% endif %}

{% endblock %}

