//---------------------------------------------------------------
// GENERAL
//---------------------------------------------------------------

html {
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif !important;
  color: #333;
  min-height: 100%;
  position: relative;
}

h2 {
  margin: 1em 0;
  &:after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: #b06ab3;
    margin: 5px 0;
  }
}

h3 {
  font-size: 1.65em;
}

.alert-sm {
  font-size: 0.9em;
  padding: 0.4em 1em;
}

form {
  max-width: 600px;
}

//---------------------------------------------------------------
// HEADER
//---------------------------------------------------------------

#header {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  //margin-bottom: 2em;

  .nav-item {
    a {
      text-transform: uppercase;
      color: #555;
      padding-right: 1em;
      padding-left: 1em;
      &:hover, &.active {
        color: #b06ab3;
      }
    }
  }
  .navbar-toggler {
    text-transform: uppercase;
    color: #555;
  }
}

.navbar-brand {
  width: 75px;
  height: 70px;
  background: url('../images/dilcam.png');
  text-indent: -9999px;
  background-size:cover;
  position: relative;
}

//---------------------------------------------------------------
// CONTENT
//---------------------------------------------------------------

#content {
  padding-bottom: 100px;
}

//---------------------------------------------------------------
// FOOTER
//---------------------------------------------------------------

#footer {
  box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 100%;
  background: white;
  .navbar {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 0.9em;
    a {
      color: #333333;
      &:hover {
        color: #b06ab3;
      }
    }
  }
}

#cookieBottomBox {
  background: white;
  position: fixed;
  bottom: 10px;
  padding: 2px;
  border: solid 1px lightgray;
  border-radius: 5px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 530px;
  opacity: 0.9;
  box-shadow: 2px 2px #dddddd;
}

//---------------------------------------------------------------
// HERO SECTION
//---------------------------------------------------------------

section.hero {
  padding: 0;
  overflow: visible;
  background-image: linear-gradient(to right, #4b68da, #b06ab3);
  color: #fff;
  position: relative;
  height: 50%;
  .container {
    position: relative;
    z-index: 3;
    div[class*="col-"] {
      padding: 150px 0;
    }
    h1 {
      font-weight: bold;
      font-size: 3em;
    }
    p {
      font-size: 1.2em;
    }
    a#knowMore {
      background-image: linear-gradient(to left, #ff5f6d, #ffc371);
      padding: 7px 40px;
      color: #fff;
      font-weight: 400;
      border-radius: 50px;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
      border: none;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        background: white;
        color: #ffc371;
      }
    }
  }
  .computer {
    background: url('../images/home/hero-mac.png');
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
    max-width: 1900px;
    background-repeat: no-repeat !important;
    background-size: auto 80% !important;
    background-position: 70% bottom !important;
    z-index: 2;
  }
  &.has-bg-map::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1900px;
    background: url('../images/home/world-map.png') no-repeat;
    background-size: 80%;
    background-position: center center;
    opacity: 0.1;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

@media (max-width: 576px) {
  section.hero .row {
    padding: 0 15px;
  }
  section.hero .computer {
    bottom: -10px;
    background-size: 80% !important;
  }
}
@media (max-width: 1200px) {
  section.hero .computer {
    background-size: 80% !important;
  }
}
@media (max-width: 480px) {
  section.hero {
    .container {
      h1 {
        font-size: 2em;
      }
    }
  }
}

//---------------------------------------------------------------
// SERVICES SECTION
//---------------------------------------------------------------

section.services .row .item {
  padding: 40px 20px;
  transition: all 0.3s;
  cursor: default;
}

section.services .row .item img {
  margin-bottom: 20px;
  max-width: 100px;
}

section.services .row .item p {
  margin-bottom: 0;
  color: #777;
  font-weight: 300;
  margin-top: 10px;
}

section.services .row .item:hover {
  background: #fff;
}

//---------------------------------------------------------------
// PRICE
//---------------------------------------------------------------

#price {
  display: inline-block;;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  margin: 2em auto;
  padding: 2em;
  h3 {
    color: #b06ab3;
    font-size: 2em;
    margin-bottom: 1em;
  }
  ul {
    text-align: left;
    color: #777;
    list-style-type: none;
    padding: 0;
    li {
      margin-bottom: 1em;
      i {
        color: #b06ab3;
        margin-right: 1em;
      }
    }
  }
}

//---------------------------------------------------------------
// DASHBOARD WRAPPER AND SIDEBAR
//---------------------------------------------------------------

#dashboard {
  display: flex;
  min-height:90%;
  #dashboard-sidebar {
    background: #4B68DA;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    #dashboard-sidebar-top {
      background: white;
      padding: 0.5em 0;
    }
    .sidebar-nav {
      margin: 0;
      padding: 1em 1em 1em 0;
      list-style: none;
      li {
        text-indent: 20px;
        line-height: 40px;
        a {
          display: block;
          text-decoration: none;
          color: white;
          white-space: nowrap;
          .fa {
            display: inline;
            margin-right: 0.5em;
          }
        }
      }
    }
  }

  #dashboard-content {
    flex: 1;
    padding: 1em 1em 100px 2em;
    max-width: 1024px;
  }
}

//---------------------------------------------------------------
// BROWSE
//---------------------------------------------------------------

#browserImgContainer {
  position: relative;
  #browserImg {
    border: solid 1px black;
  }
  #download {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
  }
}

#controls {
  table {
    font-family: monospace;
    font-size: 1em;
    td {
      text-align: left;
      white-space: pre;
    }
  }
}
