html {
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif !important;
  color: #333;
  min-height: 100%;
  position: relative;
}

#cookieBottomBox {
  background: white;
  position: fixed;
  bottom: 10px;
  padding: 2px;
  border: solid 1px lightgray;
  border-radius: 5px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 480px;
  opacity: 0.9;
  box-shadow: 2px 2px #dddddd;
}

#header {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  .navbar-brand {
    width: 61px;
    height: 70px;
    background: url('../images/dilcam.png');
    text-indent: -9999px;
    background-size:cover;
    position: relative;
  }
  .nav-item {
    a {
      text-transform: uppercase;
      color: #555;
      padding-right: 1em;
      padding-left: 1em;
      &:hover, &.active {
        color: #b06ab3;
      }
    }
  }
  .navbar-toggler {
    text-transform: uppercase;
    color: #555;
  }
}

#content {
  padding-bottom: 100px;
}

@media only screen and (max-width: 570px) {
  #content {
    padding-bottom: 220px;
  }
}

#footer {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
  //height: 80px;
  .navbar {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 0.9em;
    a {
      color: #333333;
      &:hover {
        color: #b06ab3;
      }
    }
  }
}