{% extends 'front/base.html.twig' %}

{% block title %}Merci d'autoriser l'utilisation de la caméra{% endblock %}

{% block body %}

    <h2>Merci d'autoriser l'utilisation de la caméra</h2>

{% endblock %}
