{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Inscription confirmée{% endblock %}

{% block body %}

    <h2>Inscription confirmée</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        Merci. Un email vous a été envoyé pour confirmer votre inscription.
    </p>

    <p>
        Si vous n'avez pas reçu l'email après deux ou trois minutes, vérifiez le dossier SPAM de votre boîte
        de réception.
    </p>

{% endblock %}

