{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <h2>Inscription</h2>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
    {{ form_end(form) }}

{% endblock %}

