{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Inscription confirmée{% endblock %}

{% block body %}

    <h2>Inscription confirmée</h2>

    <p>
        Merci. Un email vous a été envoyé pour confirmer votre inscription.
    </p>

{% endblock %}

