{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <h2>Inscription</h2>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <div>
            <input type="checkbox" id="cgu" value="1" required>
            <label for="cgu">
                J'ai lu et j'accepte les
                <a href="{{ path('pages_tos') }}" target="_blank">conditions générales d'utilisation</a>.
            </label>
        </div>

        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>

    {{ form_end(form) }}

{% endblock %}

