{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Lien de réinitialisation de mot de passe incorrect{% endblock %}

{% block body %}

    <h2>Lien de réinitialisation de mot de passe incorrect</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        Ce lien n'est pas correct. Si vous avez effectué la demande il y a plus de 24 heures, le lien a expiré.
        Veuillez effectuer une nouvelle demande ici :
        <a href="{{ path('security_reset_password_request') }}">
            Réinitialiser votre mot de passe
        </a>
    </p>

{% endblock %}

