{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Lien de confirmation incorrect{% endblock %}

{% block body %}

    <h2>Lien de confirmation incorrect</h2>

    <p>
        Ce lien de confirmation n'est pas correct. Si vous vous êtes inscrit il y a plus de 24 heures, veuillez
        recommencer votre inscription.
    </p>

{% endblock %}

