{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Inactivité détectée{% endblock %}

{% block body %}

    <h2>Inactivité détectée</h2>

    <p>
        Pour des raisons de sécurité, la page de surveillance est automatiquement fermée
        après 10 minutes d'inactivité. Vous pouvez la réouvrir en cliquant sur le bouton
        "Surveiller" ci-dessous.
    </p>

    <a class="btn btn-info" href="{{ path('dashboard_watch_watch') }}">Surveiller</a>

{% endblock %}
