{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Surveiller{% endblock %}

{% block body %}

    <h2>Surveiller</h2>

    {% include 'frontend/includes/_user_status.html.twig' %}

    <div class="alert alert-warning" id="alertPendingConnection">
        Connection en cours...
    </div>

    <div class="alert alert-danger" id="alertShooterNotExists" style="display: none;">
        Aucune caméra n'est active
    </div>

    <div class="alert alert-danger" id="alertShooterSeemsNotExists" style="display: none;">
        Il semblerait que le côté caméra ait subi une déconnexion subite.
    </div>

    <div class="alert alert-danger" id="alertIssue" style="display: none;">
        Connexion impossible.
        <a href="javascript:window.location.reload(true)">Réessayer</a>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" id="remoteVideo" autoplay></video>
    </div>

    <br>

    <input type="hidden" id="roomId" value="{{ app.user.roomId }}">
    <input type="hidden" id="pathWatchTimeout" value="{{ path('dashboard_watch_timeout') }}">
    <input type="hidden" id="allowedIceType" value="{{ allowedIceType }}">

    <script type="text/javascript" src="{{ asset('build/js-css/watch.js') }}"></script>

{% endblock %}
