{% extends 'front/base.html.twig' %}

{% block title %}Créer une différence de photos{% endblock %}

{% block body %}

    <h2>Créer une différence de photos</h2>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">
        Enregistrer
    </button>
    {{ form_end(form) }}

{% endblock %}
