<div>
    <input type="checkbox" id="cgu" value="1">
    <label for="cgu">
        J'ai lu et j'accepte les
        <a href="{{ path('pages_tos') }}" target="_blank">conditions générales d'utilisation</a>.
    </label>
    <br>
    <span id="errorCgu" style="color: red; display: none;">
                Vous devez cocher cette case pour accepter les conditions générales d'utilisation.
            </span>
</div>

<script>

    function showHideErrorCgu() {
        if (document.getElementById('cgu').checked) {
            jQuery('#errorCgu').hide();
            return true;
        } else {
            jQuery('#errorCgu').show();
            return false;
        }
    }

    jQuery('form.withCgu').on('submit', function() {
        return showHideErrorCgu();
    });

    jQuery('#cgu').change(function() {
        showHideErrorCgu();
    })

</script>