<div id="cookieBottomBox">
    En poursuivant votre navigation, vous acceptez <a href="{{ path('pages_cookies') }}">les cookies</a>.
    <button type="button" class="close" aria-label="Close" onclick="document.getElementById('cookieBottomBox').style.display = 'none';">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script>
    window.onscroll = function() {myFunction()};
    var windowHeight = window.innerHeight;

    function myFunction() {
        if (document.body.scrollTop > windowHeight || document.documentElement.scrollTop > windowHeight) {
            document.getElementById('cookieBottomBox').style.display = 'none';
        }
    }
</script>