<div class="container">
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('pages_legal') }}">
                    Mentions légales
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('pages_tos') }}">
                    C.G.U.
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('pages_confidentiality') }}">
                    Confidentialité
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('pages_contact') }}">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</div>
