{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <h2>Tableau de bord</h2>

    {% include 'frontend/includes/_user_status.html.twig' %}

    {% include 'frontend/includes/_flash.html.twig' %}

    {% if currentlyShooting %}

        <h3>Film en cours</h3>

        {% if app.request.cookies.get('shootingToken') == app.user.shootingToken %}

            <p>
                Votre webcam est en train de filmer.
            </p>

            <p>
                Quand vous vous absenterez, merci de laisser la page "Filmer" ouverte.
            </p>

            <p>
                Vous pouvez maintenant vous connecter sur Dilcam depuis un autre appareil, par exemple votre téléphone,
                et cliquer sur "Surveiller" pour observer ce qui est filmé par votre webcam.
            </p>

        {% else %}


            <p>
                Votre webcam est en train de filmer à votre domicile.
            </p>

            <p>
                <a href="{{ path('dashboard_watch_watch') }}" class="btn btn-info">
                    Surveiller
                </a>
                <a href="{{ path('dashboard_browse') }}" class="btn btn-info">
                    Visionner les photos
                </a>
            </p>

        {% endif %}

    {% else %}

        <p>
            La première chose à faire est d'enclencher la webcam de votre ordinateur pour
            démarrer la vidéo surveillance. Cliquez sur "Filmer" pour commencer.
        </p>

        <p>
            <a href="{{ path('dashboard_shoot_junction') }}" class="btn btn-info">
                Filmer
            </a>
        </p>

    {% endif %}

{% endblock %}
