{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Email non confirmé{% endblock %}

{% block body %}

    {% if not send %}

        <h2>Email non confirmé</h2>

        {% include 'frontend/includes/_flash.html.twig' %}

        <p>
            Vous devez confirmer votre email pour pouvoir utiliser notre service.
        </p>

        <p>
            Vérifiez votre boite mail.
        </p>

        <p>
            Si vous n'avez rien reçu, cliquez ici pour renvoyer le mail de validation :
        </p>

        <p>
            <a class="btn btn-primary" href="{{ path('dashboard_pending_email_check', {send: true}) }}">
                Renvoyer l'email de validation
            </a>
        </p>

    {% endif %}

{% endblock %}

