{% extends 'front/base.html.twig' %}

{% block title %}Le paiement a réussi{% endblock %}

{% block body %}

    <h2>Le paiement a réussi</h2>

    <a class="btn btn-info" href="{{ path('dashboard_subscription_manage') }}">
        Retour à la gestion de l'abonnement
    </a>

{% endblock %}
