{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Supprimer toutes les photos{% endblock %}

{% block body %}

    <h2>Supprimer toutes les photos</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        Êtes-vous sûr de vouloir supprimer toutes les photographies ?
    </p>

    <p>
        <a href="{{ path('dashboard_browse_delete_all') }}" class="btn btn-info">
            Oui
        </a>
        <a href="{{ path('dashboard_browse') }}" class="btn btn-warning">
            Annuler
        </a>
    </p>

{% endblock %}
