<!DOCTYPE html>
<html>
<head>
    {% include 'frontend/includes/_head.html.twig' %}
    <title>Dilcam - {% block title %}{% endblock %}</title>
</head>
<body>

    <div id="dashboard">

        <!-- Sidebar -->
        <div id="sidebar-dashboard">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ path('home') }}" class="yo">
                        Dilcam
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-dashboard">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
                {% include 'frontend/includes/_flash.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#dashboard").toggleClass("toggled");
        });
    </script>

</body>
</html>