{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Le paiement a échoué{% endblock %}

{% block body %}

    <h2>Le paiement a échoué</h2>

    <p>
        Le paiement n'a pas été validé. Merci de vérifier la validité des informations de votre carte bancaire.
    </p>

    <a class="btn btn-info" href="{{ path('dashboard_subscription_quantity') }}">
        Réessayer
    </a>

{% endblock %}
