{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Choisissez la durée de votre abonnement{% endblock %}

{% block body %}

    <h2>Choisissez la durée de votre abonnement</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        Choisissez ci-dessous la durée pour laquelle vous souhaitez utiliser le service Dilcam.
    </p>

    <div style="max-width: 250px;">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            Étape suivante
        </button>
        {{ form_end(form) }}
    </div>


{% endblock %}
