{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Paiement validé{% endblock %}

{% block body %}

    <h2>Paiement validé</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        Merci.
        La commande <strong>{{ transaction.description }}</strong>,
        d'un montant de <strong>{{ transaction.amount|price }}</strong>,
        a bien été prise en compte.
    </p>

    <p>
        Vous êtes maintenant abonné(e) jusqu'au {{ app.user.subscribedTill | date('d/m/Y') }}.
    </p>

    <a class="btn btn-info" href="{{ path('dashboard_subscription_manage') }}">
        Retour à votre compte
    </a>

{% endblock %}
