{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Vos commandes{% endblock %}

{% block body %}

    <h2>Vos commandes</h2>

    {% include 'frontend/includes/_user_status.html.twig' %}

    {% include 'frontend/includes/_flash.html.twig' %}

    {% if transactions|length > 0 %}

        <table class="table">
            <tr>
                <th>Référence</th>
                <th>Description</th>
                <th>Date</th>
                <th>Montant</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        {{ transaction.id }}
                    </td>
                    <td>
                        {{ transaction.description }}
                    </td>
                    <td>
                        {{ transaction.createdAt|date('d/m/Y') }}
                    </td>
                    <td>
                        {{ transaction.amount|price }}
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>
            Vous n'avez passé aucune commande.
        </p>
    {% endif %}

{% endblock %}
