<p>
    Bonjour,
</p>

<p>
    Afin de finaliser votre inscription, veuillez cliquer sur le lien suivant :
</p>

<a href="https://{{ host }}{{ path('security_check_email', {emailCheckToken: user.emailCheckToken}) }}">
    Lien
</a>