<p>
    Bonjour,
</p>

<p>
    Veuillez cliquer sur ce lien pour réinitialiser votre mot de passe :
</p>

<a href="https://{{ host }}{{ path('security_reset_password', {passwordResetToken: user.passwordResetToken}) }}">
    Réinitialisation de votre mot de passe
</a>