{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Vidéosurveillance avec la webcam de votre ordinateur{% endblock %}

{% block body %}

    <p>
        Votre ordinateur filme votre habitat avec la webcam de votre ordinateur.
    </p>

    <p>
        Vous pouvez surveiller en direct ce qui se passe chez vous depuis un autre appareil.
    </p>

    <p>
        Recevez une alarme chaque fois qu'un mouvement est détecté.
    </p>

    <p>
        En plus de surveiller en direct, vous pouvez consulter les photos prises sur 7 jours.
    </p>

    <p>
        <a href="{{ path('pages_guide') }}">
            Guide d'utilisation
        </a>
    </p>

    <p>
        <a href="{{ path('security_signup') }}">
            Essai gratuit
        </a>
    </p>

{% endblock %}
